.container {
  display: flex;
  flex-direction: column;
  margin: 0 64px;
  max-width: var(--max-width, 1200px);
  width: 100%;
  margin-inline: auto;
}

.categories {
  display: flex;
  gap: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .row {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: 0 32px;
    width: fit-content;
  }
}
