.container {
  height: 700px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  height: 550px;
}
.btn {
  display: block;
  background-color: white;
  height: 100%;
}

.title {
  margin: 0 80px;
}
