.container {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  height: 450px;
}
.btn {
  display: block;
  background-color: white;
  height: 100%;
}

.title {
  margin: 0 80px;
}

@media screen and (max-width: 768px) {
  .title {
    margin: 0 40px;
  }

  .swiper {
    padding: 0 32px;
  }
}
