.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  height: 450px;
}
.btn {
  display: block;
  background-color: white;
  height: 100%;
}

.ray {
  position: absolute;
  top: -180px;
  left: -180px;
  width: 1000px;
  object-fit: contain;
  //   height: 100%;
}

.title {
  margin: 0 80px;
  margin-inline: auto;
  max-width: 1200px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .title {
    margin: 0 40px;
  }

  .swiper {
    padding: 0 32px;
  }
}
