.main {
    display: grid;
    grid-template-rows: 84px calc(100dvh - 84px) 500px 1fr 0.75fr 200px;
    background-color: var(--bg-color);
    min-height: 100dvh;
}

.container {
    /* max-width: 1400px; */
    /* margin-inline: auto; */
}
