.main {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    min-height: 100dvh;
    width: 100%;

    padding: 16px;
    align-items: center;
    padding: 0 clamp(16px, 10vw, 200px);
}


  
  
// .glow {
//   height: 300px;
//   width: 300px;
//   border-radius: 50%;
//   background-color: #01a463;
//   position: absolute;
//   z-index: 0;
//   top: 0;
//   left: 50%;
//   transform: translateX(-50%) translateY(-45%);
//   filter: blur(200px);

//   animation: glow 8s infinite;

//   @keyframes glow {
//     0% {
//       filter: blur(200px);
//     }
//     50% {
//       filter: blur(400px);
//     }

//     100% {
//       filter: blur(200px);
//     }
//   }
// }
.header {
    margin-left: 24px;
    position: relative;
    &::before {
        content: ".";
        position: absolute;
        transform: translateX(-24px);
        background-color: #858585;
        color: #858585;
        bottom: 0px;
        height: 100%;
        width: 8px;
        margin-right: 10px;
    }
}
.hero {
    display: flex;
    max-width: var(--max-width);
    flex-direction: column;
    gap: 40px;
    height: 500px;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    background-image: url("/effect.svg");
    background-size: contain;
    background-repeat: no-repeat;

    .titleFeature {
        font-size: 56px;
        position: relative;
        padding-left: 6px;
        background-repeat: no-repeat;
        color: white;
        text-align: center;
        color: #EDEDED;
font-family: "Helvetica Neue";
font-weight: 400;
line-height: 100%; /* 56px */
        // animation: reveal 4s forwards;
        @keyframes reveal {
            0% {
                background-size: 0% 100%;
                scale: 0.98;
                translate: -14px 0px;
            }
            30% {
                scale: 1;
                translate: 0px 0px;
            }
            100% {
                background-size: 300% 100%;
            }
        }
    }

    .secondary {
        color: #06fc99;
        font-size: 16px;
        line-height: 40px; /* 250% */
        text-transform: uppercase;
    }

    .cta {
        display: flex;
        align-items: flex-start;
        gap: 24px;

        a {
            display: flex;
            width: 240px;
            height: 56px;
            padding: 16px 10px;
            justify-content: center;
            align-items: center;
            gap: 4px;
            background: #06fc99;
            font-family: var(--rmmono);
            color: black;
            border: none;
            transition: all 0.2s ease;
            border-radius: 4px;
            &:hover {
                filter: brightness(1.2) ;
                scale: 1.02;
            }
            &[data-type="outlined"] {
                background: transparent;
                color: #06fc99;
                border: 1px solid #06fc99;

                &:hover {
                    background: #031d12;
                }
            }
        }
    }

    .pretext {
        display: flex;
        gap: 6px;
        align-items: center;
    }
}

.container {
    max-width: var(--max-width);
    width: 100%;
}

.glowEffect {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    // background: #06fc99;
    box-shadow: 0 0 30px 0 #06fc99;
}

.secondary-container {
    position: relative;
}
@media screen and (max-width: 768px) {
    .main {
        padding: 0 16px;
    }
}

.title {
    &::before {
        content: ">";
        color: #06fc99;
        font-size: 16px;
        margin-right: 10px;
    }
}

.link {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #757575;
    background: rgba(12, 12, 12, 0.5);
    color: #fdfdfd;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.28px;
    text-transform: uppercase;
    transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-family: var(--vcr);
    letter-spacing: 1px;
}

.component-container {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);

    & > div:nth-child(1) {
        // spans 2 columns
        grid-row: span 2;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        height: 548px;
        gap: 40px;
        // change
        .titleFeature {
            font-size: 40px;
        }
        .secondary {
            font-size: 14px;
            line-height: 32px;
        }
        .cta {
            a {
                width: 50%;
                height: 48px;
                padding: 12px 8px;
                font-size: 12px;
            }
        }
    }

    .primary-container {
        flex-direction: column;
    }

    .secondary-container {
        flex-direction: column !important;
    }

    .component-container {
        flex-direction: column !important;
    }
}
