.chip {
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #888;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  border-radius: 8px;
  border: 1px solid #2f2f2f;
  background: #121212;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-transform: uppercase;
  height: 48px;
  //   single line
  white-space: nowrap;

  &:hover {
    border-color: #fff;
    color: #fff;
    cursor: pointer;
  }
}

.active {
  border-color: #fff;
  color: #fff;
}

.card {
  border: 1px solid #2e2e2e;
  padding: 24px;
  gap: 24px;
  display: flex;
  perspective: 100px;
  .title {
    &::before {
      content: ">";
      color: #06fc99;
      font-size: 16px;
      margin-right: 10px;
    }
  }

  @container {
  }
}

@media screen and (max-width: 768px) {
  .chip {
    padding: 14px 16px;
    font-size: 12px;
    height: 44px;
  }
}
