.container {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  background-image: url("/hero.png");
  background-position: 50% 270px;
  background-size: cover;
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  h1 {
    font-family: var(--videotype);
    font-size: 48px;
    color: white;
    text-transform: uppercase;
    line-height: 100%;
  }

  h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 400;
  }

  .actions {
    display: flex;
    gap: 24px;
  }

  a {
    display: flex;
    width: 240px;
    height: 56px;
    padding: 16px 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: #dfdfdf;
    font-family: var(--rmmono);
    color: black;
    border: none;
    transition: all 0.2s ease;

    &:hover {
      background: #cecece;
      scale: 1.02;
    }
    &[data-type="outlined"] {
      background: transparent;
      color: #dfdfdf;
      border: 1px solid #dfdfdf;

      &:hover {
        background: #1e1e1e;
      }
    }
  }
}

@media (max-width: 768px) {
  .actions {
    flex-direction: column;
    gap: 16px;
  }

  .container {
    padding: 0 32px;
    h1 {
      text-align: center;
    }

    h4 {
      text-align: center;
      font-size: 14px;
    }
  }
}
